.color-ash{
	color:#666666;
}
.color-green{
	color: #33BB77;
}
.color-blue{
	color:#3399DD;
}
.color-yellow{
	color:#FFF666;
}
.color-red{
	color:#FF6666;
}
@import url(https://fonts.googleapis.com/css?family=Ubuntu:400,300,500);
body{
	background-color:#f8f8f8;
}
p{
	font-size:18px;
}
section{
	font-family: 'Ubuntu', sans-serif;
}

a:hover,
a:active,
a:focus,
a:visited{
	text-decoration:none;
}

.anim{
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}
.box{
	border-bottom-left-radius:2px;
	border-bottom-right-radius:2px;
	box-shadow: 0 2px 0 #cecece;
	background-color: #fff;
}
.box:hover{
	box-shadow: 0 2px 0 #33BB77;
}
h2.head{
	font-weight:300;
	text-align: center;
	text-transform:capitalize;
	margin-bottom: 40px;
}
section{
	border-top:1px solid #eee;
}
section#contact,
section#specialization,
section#tagline,
section#testimonials,{
	margin-top:50px;
}
#intro .navbar-brand{
	color:#FFF;
	font-weight:bold;
}
header#intro{
	background:#666666;
	background-size:cover;
	background-position: center center;
	margin-top:0px;
}
header#intro .img-container{
	padding:120px 0px 120px 0px;
}
header#intro h1{
	margin-top: 0px;
	color:white;
}
/* About */
section#about{
	background-color: #33BB77;
	color:white;
}
section#about h1,
section#about h2{
	color:white;
	font-weight:thin;
}
section#about .sub-section{
	padding:50px 30px 70px 30px;
	text-align:justify;
	font-weight:normal;
}
.form-control,
.form-control:focus,
.form-control:active{
	box-shadow:none;
}
.btn{
	margin-top:10px;
}
.btn-green{
	background-color:transparent;
	color: #33BB77;	
	border-color:#33BB77;
}
.btn:hover,
.btn:focus,
.btn:active{
	color:#666666;
	border-color:#666666;
}
.form-control{
	margin-top:10px;
	border-color:#ddd;
}
footer{
	margin-top:50px;
}

/* Navbar */
nav.navbar-default{
	margin-bottom: 0px;
	background:transparent;
	border:none;
}
.navbar-brand{
	font-family: 'Ubuntu', sans-serif;
}
.navbar-default .navbar-nav a{
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
	border-bottom:2px solid transparent;
	text-transform:uppercase;
}
.navbar-default .navbar-nav a:hover,
.navbar-default .navbar-nav a:focus{
	background-color: transparent;
	color:white;
	border-bottom:2px solid #3399DD;
}
.navbar-default .navbar-nav > li > a{
	color:white;
	font-weight:bold;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:active,
.navbar-default .navbar-nav > li > a:focus{
	color:#33bb77;
}

.navbar-default .navbar-toggle:active,
.navbar-default .navbar-toggle:focus{
	background-color:transparent;
}
.navbar-default .navbar-toggle:hover{
	background-color:white;
}

/* Testimonials */
section#testimonials{
	padding:100px 0px 80px 0px;
	color:#666666;
}
section#testimonials .controls a{
	padding: 2px 3px;
	text-decoration:none;
}
.testimonial p.name{
	font-size:14px;
	text-align:right;
	font-style:italic;
}


/* Specialization */
section#specialization ul{
	padding-left:0px;
}
section#specialization .technology{
	list-style: none;
	padding:10px 10px;
	text-align: center;
}
section#specialization .technology div{
	background-color:#fff;
	padding: 20px;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
	border-bottom-left-radius:2px;
	border-bottom-right-radius:2px;
	box-shadow: 0 2px 0 #cecece;
}
section#specialization .technology:nth-child(odd) div:hover{
	box-shadow: 0 2px 0 #33BB77;
}
section#specialization .technology:nth-child(even) div:hover{
	box-shadow: 0 2px 0 #3399DD;
}
section#specialization .technology h3{
	font-size:16px;
}
section#specialization .technology p{
	text-align: justify;
	font-size:14px;
}

/* Contact */
section#contact{
	padding:100px 30px;
}
section#contact h3{
	font-size: 5.5vw;
	padding:20px 0px;
}
section#contact h3 a{
	color: #666666;
	border: 8px solid #666666;
	padding: 20px 30px;
}


/* Achievements */
section#achievements{
	padding:100px 0px;
}
section#achievements .row{
	margin:0px;
}
section#achievements .achievement{
	text-align:center;
}
section#achievements .achievement h5{
	font-size: 4vw;
	color: #33BB77;
	font-weight: 300;
}

/* Blog Posts */
section#blog-posts{
	background-color: #666666;
}
section#blog-posts h2{
	color:#f8f8f8;
	margin-bottom: 20px;
}
section#blog-posts .post{
	padding:0px 20px;
	margin-top:14px;
}
section#blog-posts .post div{
	border-bottom: 2px solid #33BB77;
	border-radius:0px 0px 2px 2px;
	padding:6px 12px;
	background-color: #636363;
}
section#blog-posts .post h3{
	font-size: 18px;
	margin-top: 4px;
	margin-bottom: 4px;
	font-weight:normal;
	text-transform: capitalize;
	color:#f8f8f8;
}
section#blog-posts .post p{
	font-size:14px;
	color:#eee;
}
section#blog-posts a.btn-default{
	border:2px solid #33BB77;
	background-color: transparent;
	color:#33BB77;
	font-weight:bold;
	margin:30px 0px;
}

/* Tagline */
section#tagline{
	padding:100px 0px;
}
section#tagline .row{
	margin:0px;
}
section#tagline h3{
	font-size: 4vw;
	font-weight: 300;
}

/* Join Us */
section#join-us .channel img{
	padding:80px;
}
section#join-us .channel p.name{
	text-align:center;
}

/* Feedback */
section#feedback{
	padding:50px 0px;
}
section#feedback h2.head{
	color:#666666;
	margin:10px 0px;
}
section#feedback .form-control,
section#feedback .btn{
	font-size:18px;
	background-color:transparent;
	border-color: #AAA;
}
section#feedback .form-control:hover,
section#feedback .form-control:focus,
section#feedback .btn:hover,
section#feedback .btn:focus{
	border-color:#33BB77;
	color:#33BB77;
}

section#feedback input.form-control{
	height:50px;
}
section#feedback textarea.form-control{
	margin-top:15px;
}
section#feedback .form-control::-webkit-input-placeholder,
section#feedback .form-control:-ms-input-placeholder { /* IE 10+ */
	color: #ccc;
}
section#feedback .form-control::-moz-placeholder,
section#feedback .form-control:-moz-placeholder { /* Firefox 4 - 18 */
	color: #ccc;
	opacity: 1;
}

/* Socialize */
section#socialize{
	padding-top: 50px;
}
/* gethelp */
section#gethelp{
	padding:20px 0px 60px 0px;
}

/* Mobile CSS */
@media only screen and (max-width : 768px) {
	header#intro .img-container{
		padding:100px;
	}
	section#tagline,
	section#contact,
	section#achievements,
	section#feedback{
		padding:30px 0px;
	}
	section#about .sub-section{
		padding: 30px;
	}
}