---
title: Contact
permalink: /contact
---
<!DOCTYPE html>
<html>
{% include head.html %}
<body>

<!-- Header -->
<header id="intro">
	{% include nav.html %}
</header>


<!-- Feedback -->
<section id="feedback">
<div class="container social-links">    
        <div class="row">
            <div class="col-sm-offset-4 col-sm-4">
                <div class="row profile-links">
                    <a class="col-xs-2" target="_blank" href="http://github.com/guyswhocode"><img src="assets/img/social/github.svg" alt="Github" class="img img-responsive"></a>
                    <a class="col-xs-2" target="_blank" href="http://facebook.com/guyswhocode"><img src="assets/img/social/facebook.svg" alt="Facebook" class="img img-responsive"></a>
                    <a class="col-xs-2" target="_blank" href="http://instagram.com/guyswhocode"><img src="assets/img/social/instagram.svg" alt="Instagram" class="img img-responsive"></a>
                    <a class="col-xs-2" target="_blank" href="http://twitter.com/guyswhoc0de"><img src="assets/img/social/twitter.svg" alt="Twitter" class="img img-responsive"></a>
                    <a class="col-xs-2" target="_blank" href="http://google.com/plus"><img src="assets/img/social/google-plus.svg" alt="Google+" class="img img-responsive"></a>
                    <a class="col-xs-2" target="_blank" href="http://pinterest.com/guyswhocode"><img src="assets/img/social/pinterest.svg" alt="Pinterest" class="img img-responsive"></a>
                </div>
            </div>
        </div>    
    </div>
    <form method="POST" action="https://formspree.io/guyswhocode@gmail.com" class="gwc-form">
        <div class="container">
            <div class="row">
                <div class="col-sm-offset-1 col-sm-10">
                    <div class="row">
                        <div class="col-sm-6">
                            <input type="email" name="_replyto" class="form-control" placeholder="Email">
                        </div>
                        <div class="col-sm-6">
                            <input type="text" name="name" class="form-control" placeholder="Full Name">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <textarea name="feedback" rows="4" class="form-control" placeholder="Message"></textarea>
                            <input type="hidden" name="_next" value="http://guyswhocode.com">
                        </div>
                    </div>
                    <input type="submit" value="Send" class="btn">
                </div>
            </div>
        </div>
    </form>
</section>

<!-- Footer -->
{% include footer.html %}

<!-- Scripts -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/js/bootstrap.min.js"></script>
</body>
</html>