---

---
<!DOCTYPE html>
<html>
<!-- Head -->
{% include head.html %}
<body>

<!-- Header -->
<header id="intro">
{% include nav.html %}
    <div class="container">
        <div class="col-sm-4"></div>
        <div class="col-sm-4 img-container animated slideInUp">
            <img src="assets/img/guys-who-code-logo.png" alt="Guys Who Code" class="img img-responsive">
        </div>
        <div class="col-sm-4"></div>
    </div>
</header>


<!-- About -->
<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-md-4 sub-section">
                <h1>Guys Who Code</h1>
                <p>We are a nonprofit organization working to bridge the gap between people and computer technologies. We also aims at developing on ideas that are useful and beneficial to everyone.</p>
            </div>
            <div class="col-md-8 sub-section">
                <h2>Our mission</h2>
                <p>GWC is run by a group of tech enthusiastic students and computer science engineers who are really passionate about teaching computer technologies to people. Mentors at GWC inspire people to learn computer programming languages by exposing them to real life problems. We help people to utilize the cutting edge technologies in a unique and efficient manner. </p>
            </div>
        </div>
    </div>
</section>


<!-- Specification -->
<section id="specialization">
    <div class="container">
        <div class="row">
            <h2 class="head"></h2>
        </div>
        <ul class="row">
            <li class="col-sm-2 col-xs-4 technology">
                <div>
                    <img src="assets/img/technologies/nodejs.png" alt="NodeJS" title="NodeJS" class="img img-responsive">
                    <h3>NodeJS</h3>
                </div>
            </li>
            <li class="col-sm-2 col-xs-4 technology">
                <div>
                    <img src="assets/img/technologies/python.png" alt="Python" title="Python" class="img img-responsive">
                    <h3>Python</h3>
                </div>
            </li>
            <li class="col-sm-2 col-xs-4 technology">
                <div>
                    <img src="assets/img/technologies/angular.png" alt="AngularJS" title="AngularJS" class="img img-responsive">
                    <h3>AngularJS</h3>
                </div>
            </li>
            <li class="col-sm-2 col-xs-4 technology">
                <div>
                    <img src="assets/img/technologies/mongodb.png" alt="MongoDB" title="MongoDB" class="img img-responsive">
                    <h3>MongoDB</h3>
                </div>
            </li>
            <li class="col-sm-2 col-xs-4 technology">
                <div>
                    <img src="assets/img/technologies/android.png" alt="Android" title="Android" class="img img-responsive">
                    <h3>Android</h3>
                </div>
            </li>
            <li class="col-sm-2 col-xs-4 technology">
                <div>
                    <img src="assets/img/technologies/cordova.png" alt="Cordova" title="Cordova" class="img img-responsive">
                    <h3>Cordova</h3>
                </div>
            </li>
        </ul>
    </div>
</section>


<!-- Achievements -->
<section id="achievements">
    <div class="row">
        <div class="col-sm-3 col-xs-6 achievement">
            <span class="mega-octicon octicon-watch"></span>
            <h5>10243</h5>
            <p>Hours of Work</p>
        </div>
        <div class="col-sm-3 col-xs-6 achievement">
            <span class="mega-octicon octicon-organization"></span>
            <h5>5</h5>
            <p>Programmers</p>
        </div>
        <div class="col-sm-3 col-xs-6 achievement">
            <span class="mega-octicon octicon-dashboard"></span>
            <h5>302</h5>
            <p>Cups of Coffee</p>
        </div>
        <div class="col-sm-3 col-xs-6 achievement">
            <span class="mega-octicon octicon-check"></span>
            <h5>15</h5>
            <p>Finished Projects</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h3 class="text-center" id="contact">
                <a href="mailto:info@guyswhocode.com">guyswhocode@gmail.com</a>
            </h3>
        </div>
    </div>
</section>


<!-- Recent Projects -->
<section id="recent-projects">
    <div class="container">
        <div class="row">
            <div class="col-sm-2 project">
                <div>
                    <img src="assets/img/projects/nalette-logo.jpg" alt="">
                    <a class="name" href="http://mindprick.com" title="MindPrick">MindPrick</a>
                </div>
            </div>
            <div class="col-sm-2 project">
                <div>
                    <img src="assets/img/projects/nalette-logo.jpg" alt="">
                    <a class="name" href="/nalettes" title="Nalettes">Nalettes</a>
                </div>
            </div>
            <div class="col-sm-2 project">
                <div>
                    <img src="assets/img/projects/nalette-logo.jpg" alt="">
                    <a class="name" href="/sparkle" title="Sparkle">Sparkle</a>
                </div>
            </div>
            <div class="col-sm-2 project">
                <div>
                    <img src="assets/img/projects/nalette-logo.jpg" alt="">
                    <a class="name" href="#" title="Sanz">Sanz</a>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="div">
                    <h2>Yours could be next!</h2>
                    <p>Have a unique, creative idea? We'll help you make it real.</p>
                    <a href="" class="visit">See More</a>
                </div>
            </div>
        </div>
    </div>
</section>


<!-- Testimonials -->
<section id="testimonials">
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <img src="assets/img/icons/chat.svg" id="feedback-icon" alt="" class="img img-responsive">
            </div>
            <div class="col-sm-3 testimonial">
                <p class="words">It's certainly nice to have someone dealing with the nightmares of building custom scalable apps so that I don't have to.</p>
                <p class="name">Federick Min</p>
            </div>
            <div class="col-sm-3 testimonial">
                <p class="words">Incredible first experience. I was able to get a completely custom API for my e-commerce application. I met the right people.</p>
                <p class="name">Leo Tom</p>
            </div>
            <div class="col-sm-3 testimonial">
                <p class="words">These are the folks who took my local business to the next level. I really couldn't imagine how this could be easier.</p>
                <p class="name">Miya James</p>
            </div>
        </div>
    </div>
</section>


<!-- Feedback -->
<section id="feedback">
<div class="container social-links">    
        <div class="row">
            <div class="col-sm-offset-4 col-sm-4">
                <div class="row profile-links">
                    <a class="col-xs-2" target="_blank" href="{{ site.social.github }}"><img src="assets/img/social/github.svg" alt="Github" class="img img-responsive"></a>
                    <a class="col-xs-2" target="_blank" href="{{ site.social.facebook }}"><img src="assets/img/social/facebook.svg" alt="Facebook" class="img img-responsive"></a>
                    <a class="col-xs-2" target="_blank" href="{{ site.social.instagram }}"><img src="assets/img/social/instagram.svg" alt="Instagram" class="img img-responsive"></a>
                    <a class="col-xs-2" target="_blank" href="{{ site.social.twitter }}"><img src="assets/img/social/twitter.svg" alt="Twitter" class="img img-responsive"></a>
                    <a class="col-xs-2" target="_blank" href="{{ site.social.gplus }}"><img src="assets/img/social/google-plus.svg" alt="Google+" class="img img-responsive"></a>
                    <a class="col-xs-2" target="_blank" href="{{ site.social.pinterest }}"><img src="assets/img/social/pinterest.svg" alt="Pinterest" class="img img-responsive"></a>
                </div>
            </div>
        </div>    
    </div>
    <form method="POST" action="https://formspree.io/guyswhocode@gmail.com" class="gwc-form">
        <div class="container">
            <div class="row">
                <div class="col-sm-offset-1 col-sm-10">
                    <div class="row">
                        <div class="col-sm-6">
                            <input type="email" name="_replyto" class="form-control" placeholder="Email">
                        </div>
                        <div class="col-sm-6">
                            <input type="text" name="name" class="form-control" placeholder="Full Name">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <textarea name="feedback" rows="4" class="form-control" placeholder="Message"></textarea>
                            <input type="hidden" name="_next" value="http://guyswhocode.com">
                        </div>
                    </div>
                    <input type="submit" value="Send" class="btn">
                </div>
            </div>
        </div>
    </form>
</section>


<!-- Footer -->
{% include footer.html %}
</body>
</html>