---
title: Lab
permalink: /lab
tags: lab
layout: page
---

<section id="lab-page-experiments">
	{% for post in site.categories.experiments %}
	{% assign mod3 = forloop.index | modulo: 3 %}
	{% assign mod4 = forloop.index | modulo: 4 %}
	{% assign mod6 = forloop.index | modulo: 6 %}

	{% if mod4 == 0 or forloop.index == 1 %}<div class="row">{% endif %}
	<!-- {{ forloop.index }} mod3 : {{ mod3 }} mod6: {{ mod6 }} -->
	{% if mod6 >=4 or mod6 == 0 %}
	<div class="experiment">
		<div class="col-sm-2 exp-detail">
			<div>
				<h2>{{ post.title }}</h2>
				<p>{{ post.description }}</p>
				<a href="{{ post.url }}" target="_blank" class="visit">Visit</a>
			</div>
		</div>
		<div class="col-sm-2 exp-img">
			<img src="/assets/img/apps/{% if post.logo %}{{ post.logo }}{% else %}gwc-app-logo.png{% endif %}" alt="{{ post.title }} logo">
		</div>
	</div><!-- experiment -->
	{% else %}
	<div class="experiment">
		<div class="col-sm-2 exp-img">
			<img src="/assets/img/apps/{% if post.logo %}{{ post.logo }}{% else %}gwc-app-logo.png{% endif %}" alt="{{ post.title }} logo">
		</div>
		<div class="col-sm-2 exp-detail">
			<div>
				<h2>{{ post.title }}</h2>
				<p>{{ post.description }}</p>
				<a href="{{ post.url }}" target="_blank" class="visit">Visit</a>
			</div>
		</div>
	</div><!-- experiment -->
	{% endif %}
	{% if mod3 == 0 or forloop.index == site.categories.experiments.size %}</div><!-- row -->{% endif %}
	{% endfor %}
</section>