<footer>
	<div class="container">
		<div class="row">
			<div class="col-sm-3">
				<h6>About Us</h6>
				<p>We are an open community of like-minded computer graduate students who are passionate about learning and building computer applications that can benefit everyone.</p>
			</div>
			<div class="col-sm-2">
				<h6>Our Team</h6>
				<ul>
					<li><a href="">Founders</a></li>
					<li><a href="">Staffs</a></li>
					<li><a href="">Partners</a></li>
					<li><a href="">Students</a></li>
				</ul>
			</div>
			<div class="col-sm-2">
				<h6>Get Involved</h6>
				<ul>
					<li><a href="">Careers</a></li>
					<li><a href="">Donate</a></li>
					<li><a href="">Contribute</a></li>
					<li><a href="">Contact Us</a></li>
					<li><a href="">Store</a></li>
					<li><a href="">Join Us</a></li>
					<li><a href="">Engineering</a></li>
				</ul>
			</div>
			<div class="col-sm-2">
				<h6>Resources</h6>
				<ul>
					<li><a href="/sparkle">Sparkle</a></li>
					<li><a href="/nalettes">Nalettes</a></li>
					<li><a href="http://mindprick.com">MindPrick</a></li>
				</ul>
			</div>
			<div class="col-sm-3">
				<h6>What We Do</h6>
				<p>Everything we make at GWC Labs is helping and bringing people closer to coding in one way or the other.</p>
			</div>
		</div>
	</div>
	<p class="copyright"><span class="octicon octicon-code color-green"></span> with <span class="octicon octicon-heart color-red animated pulse infinite"></span> in <a href="http://www.guyswhocode.com" title="Guys Who Code" class="color-green">GWC</a> labs</p>
</footer>
