<head>
    <title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.name }}</title>
    <meta charset="UTF-8">
    <meta name="theme-color" content="#444">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="{% if page.description %}{{ page.description }}{% endif %}{{ site.description }}">
    <meta name="keywords" content="{% if page.tags %}{{ page.tags }},{% endif %}{{ site.meta-tags}}">
    <meta name="author" content="Guys Who Code">
    
    <link rel="stylesheet" type="text/css" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="assets/css/octicons.css">
    <link rel="stylesheet" type="text/css" href="assets/css/bootstrap-gwc-theme.css">  
    <link rel="stylesheet" type="text/css" href="assets/css/navbar.css">
    <link rel="stylesheet" type="text/css" href="assets/css/footer.css">
    <link rel="stylesheet" type="text/css" href="assets/css/style.css">
</head>