<div class="container">
    <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ site.url }}" title="Guys Who Code">{{ site.name }}</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a class="page-scroll" href="/about" title="About">About</a></li>
                    <li><a class="page-scroll" href="/blog" title="Blog">Blog</a></li>
                    <li><a href="/lab" title="Lab">Lab</a></li>
                    <li><a href="/products" title="Products">Products</a></li>
                    <li><a href="/team">Team</a></li>
                    <li><a href="/careers">Careers</a></li> 
                    <li><a href="/contact">Contact</a></li>
                    <li><a href="/join">Join Us</a></li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
    </nav>
</div>