    <nav id="main-navigation" class="navbar navbar-default" role="navigation">
        <div class="container">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <img src="guys-who-code-logo-greyscale-32.png" class="navbar-logo" alt=""><a class="navbar-brand" href="{{ site.url }}/" title="Guys Who Code">{{ site.name }}</a>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse navbar-ex1-collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="{{ site.url }}/about" title="About" class="{% if page.url == '/about' %}active{% endif %}">About</a></li>
                        <li><a href="{{ site.url }}/blog" title="Blog" class="{% if page.url == '/blog' %}active{% endif %}">Blog</a></li>
                        <li><a href="{{ site.url }}/lab" title="Lab" class="{% if page.url == '/lab' %}active{% endif %}">Lab</a></li>
                        <li><a href="{{ site.url }}/products" title="Products" class="{% if page.url == '/products' %}active{% endif %}">Products</a></li>
                        <li><a href="{{ site.url }}/team" class="{% if page.url == '/team' %}active{% endif %}">Team</a></li>
                        <li><a href="{{ site.url }}/careers" class="{% if page.url == '/careers' %}active{% endif %}">Careers</a></li> 
                        <li><a href="{{ site.url }}/contact" class="{% if page.url == '/contact' %}active{% endif %}">Contact</a></li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
        </div>
    </nav>
