<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/css/bootstrap-gwc-theme.css">  
<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/css/octicons.css">
<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/css/navbar.css">
<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/css/footer.css">
<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/css/style.css">